<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Snatch</h1>
    </div>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">Snatch is a little program I wrote which adds whichever song is currently playing on Spotify to a designated playlist. The idea being that if one hears a song they like they can record their approval without taking more than a second off from what they are doing.</div>
    <hr>
    <div class="col-md-6 col-md-offset-3">In order to use this service you must first create an account or sign in. Then allow Snatch access to your spotify account by linking it. That's it. Just press the button!</div>
  </div>
</div>