<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h1 class="text-center">Options</h1>
      
      <%= form_for( :session, html: { method: :put }) do |f| %>
        <div class="field">
          <%= f.label 'Playlist name:' %><br />
          <%= f.text_field :pname, autofocus: true, placeholder: "#{session[:pname]}",  class: 'form-control' %>
        </div>
        <br />
        <div class="field">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
    <% end %>
    </div>
  </div>
</div>