<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h1 class="text-center">Options</h1>
      
      <%= form_for( current_user, html: { method: :put }) do |f| %>
        <div class="field">
          Playlist name:
          <%#= f.label :pnmaer %><br />
          <%= f.text_field :pname, autofocus: true, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
    <% end %>
    </div>
  </div>
</div>